@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
}

body {
  height: 150vh;
}

/* Mobile-first styling START */
nav {
  position: fixed;
  z-index: 99999999999;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff3b29;
  color: white;
  height: 90px;
  width: 100%;
  transition: box-shadow 500ms ease-in-out;
}

.scrolling-active {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

nav h1 {
  margin-left: 1rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

.nav-bar ul {
  display: none;
}

.fa-bars {
  margin-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.mobile-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 999999999999999;
  top: 0;
  left: 0;
  background-color: #ff3b29;
  overflow: hidden;
  transition: 600ms;
}

.mobile-overlay .close-btn {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  right: 28px;
  top: 17px;
}

.mobile-overlay .overlay-content {
  position: relative;
  top: 15%;
  /* margin-top: 7rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-overlay .overlay-content a {
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.main{
  display:grid;
  grid-template-columns: 8;
  grid-template-rows: 8;
  
}

.top-section{
  background-color:#ff3b29;
  display: grid;
  grid-template-columns: 130px 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 145px 3fr 3fr 3fr 3fr 3fr 3fr 3fr  1fr;
  height:200vh;
  width: 500vh;
  position: relative;
  grid-template-areas: 
  "menu bar bar bar bar bar"
  "menu content content content content content"
  "menu content content content image image"
  "menu content content content image image"
  "menu content content content content content"
  "menu content content content content content"
  "menu content content content content content"
  "menu content content content content content"
  "menu content content content content content"
   ;
}
.top-section > .content{
  background-color: blue;
}
/* Mobile-first styling END */

/* Desktop Sizing START */
@media (min-width: 950px) {
  /* Navigation START */

  nav h1 {
    font-size: 3.2rem;
  }

  .fa-bars {
    display: none;
  }

  .nav-bar ul {
    display: flex;
  }

  nav ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.1rem;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    transition: border-bottom 200ms ease;
    padding: 1.94rem 0;
    height: 77px;
    border-bottom: 4px solid transparent;
  }

  nav ul li a:hover {
    border-bottom: 4px solid white;
  }
  /* Navigation END */

  /* Main Section Start */
  .top-section{
    background-color:#ff3b29;
    display: grid;
    grid-template-columns: 130px 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 145px 3fr 3fr 3fr 3fr 3fr 3fr 3fr  1fr;
    height:200vh;
    width: 250vh;
    position: relative;
    grid-template-areas: 
    "menu bar bar bar bar bar"
    "menu content content content content content"
    "menu content content content image image"
    "menu content content content image image"
    "menu content content content content content"
    "menu content content content content content"
    "menu content content content content content"
    "menu content content content content content"
    "menu content content content content content"
     ;
  }
  .top-section > .first-section{
    background-color: blue;
  }
  /* Main Section End */
}
/* Desktop Sizing END */
