@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
}

body {
  height: 150vh;
}

/* Mobile-first styling START */
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff3b29;
  color: white;
  height: 90px;
  width: 100%;
  transition: box-shadow 500ms ease-in-out;
}

.scrolling-active {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

nav h1 {
  margin-left: 1rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2.8rem;
}

.nav-bar ul {
  display: none;
}

.fa-bars {
  margin-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.mobile-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 999999999999999999;
  top: 0;
  left: 0;
  background-color: #ff3b29;
  overflow: hidden;
  transition: 450ms;
}

.mobile-overlay .close-btn {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  right: 28px;
  top: 17px;
}

.mobile-overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-overlay .overlay-content a {
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.mobile-overlay .overlay-content a:focus {
    padding: .5rem 1rem;
    border: 3px solid yellow;
}
/* Mobile-first styling END */

/* Desktop Sizing START */
@media (min-width: 950px) {
  .fa-bars {
    display: none;
  }

  .nav-bar ul {
    display: flex;
  }

  nav ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.1rem;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    transition: border-bottom 200ms ease;
    padding: 1.94rem 0;
    height: 77px;
    border-bottom: 4px solid transparent;
  }

  nav ul li a:hover {
    border-bottom: 4px solid white;
  }

  nav ul li a:focus {
      border: 4px solid yellow;
  }
}
/* Desktop Sizing END */